*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 18px ;
    font-weight: 400;
}

h1{
    font-weight: 800;
    font-size: 57px;
   
}
h2{
    font-weight: 800;
    font-size: 34px;
    
}

p{
    font-weight: 400;
    font-size: 18px;
    margin: 25px o;
}
a{
    color: whitesmoke;
}

img{
    width: 100%;
    height: auto;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section{
    padding: 100% 0;
}
/*Her0section*/
header{
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:  linear-gradient(to bottom, rgba(24, 24, 24, 0.73), rgba(245, 246, 252, 0.52) ), url(img/headerimg.jpg);
}

.logo{
    color: rgb(16, 214, 155);
}

nav{
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    cursor: pointer;
}
li{
    display: inline-block;
    margin-left: 30px;
}